<style>
  :host {
    color: white;
  }
   #logo {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-image: url(../assets/slim-logo.png);
    border-radius: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: 0 5px 2px 2px rgba(0, 0, 0, 0.8);
    background-size: 150px 150px;
    
  }
   #logo-wrapper {
    display: inline-block;
    position: relative;
    top: 1.1rem;
  }
   div {
    background: transparent;
  }

   h1 {
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 1rem;
  }
   h2 {
    font-size: 1.2rem;
  }
   p.slogan {
    font-size: 0.9rem;
  }

   :host h1,  h2,  p {
    text-shadow: 1px 1px grey;
  }

   p {
    line-height: 1.3rem;
  }
</style>
<h2>Slim.js 4.0 is here</h2>
<span id="logo-wrapper">
  <heart-beat duration="1.2">
    <span id="logo"></span>
  </heart-beat>
</span>
<div id="content">
  <h1>Welcome to the future of web development</h1>
  <p class="slogan">Slim.js is a modern library for writing sophisticated web components and web applications based on the latest standards, complementing the living and breathing javascript ecosystem</p>
</div>