.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

li {
  list-style-type: none;
  display: inline-block;
  width: 550px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
  text-align: left;
}